<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--		<file>/Users/zhuzs/Documents/file/logs/task-server/task-server.log</file>-->
		<file>/data/java/logs/task-server/task-server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--			<fileNamePattern>/Users/zhuzs/Documents/file/logs/task-server/task-server.log.%d{yyyy-MM-dd}.log</fileNamePattern>-->
			<fileNamePattern>/data/java/logs/task-server/task-server.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.zhuzs" level="DEBUG" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>