<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzs.taskdemo.mapper.SectionMapper">
    <resultMap id="BaseResultMap" type="com.zhuzs.taskdemo.entity.param.SaveSectionRealtimeStaInfoParam">
        <result column="turbidity" property="turbidity"/>
        <result column="staname" property="staname"/>
        <result column="section_info_id" property="section_info_id"/>
        <result column="type" jdbcType="BOOLEAN" property="type"/>
        <result column="pp_v" property="pp_v"/>
        <result column="tp_v" property="tp_v"/>
        <result column="tn_v" property="tn_v"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="chlorophyll" property="chlorophyll"/>
        <result column="pubtime" property="pubtime"/>
        <result column="water_l" property="water_temp"/>
        <result column="valley" property="valley"/>
        <result column="an_v" property="an_v"/>
        <result column="do_v" property="do_v"/>
        <result column="province" property="province"/>
        <result column="water_temp" property="water_temp"/>
        <result column="conductivity" property="conductivity"/>
        <result column="algal_density" property="algal_density"/>
        <result column="ph_v" property="ph_v"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        turbidity,
        staname,
        section_info_id,
        `type`,
        pp_v,
        tp_v,
        tn_v,
        longitude,
        latitude,
        chlorophyll,
        pubtime,
        water_l,
        valley,
        an_v,
        do_v,
        province,
        water_temp,
        conductivity,
        algal_density,
        ph_v,
        `status`,
        create_user,
        create_time,
        update_user,
        update_time,
        mark
    </sql>

    <!--  批量新增断面信息  -->
    <insert id="addBach">
        INSERT INTO gis_section_copy1(
        turbidity,
        staname,
        section_info_id,
        pp_v,
        tp_v,
        tn_v,
        longitude,
        latitude,
        chlorophyll,
        pubtime,
        water_l,
        valley,
        an_v,
        do_v,
        province,
        water_temp,
        conductivity,
        algal_density,
        ph_v,
        status
        )VALUES
        <foreach collection="listParam" item="item" separator=",">(
            #{item.turbidity},
            #{item.staname},
            #{item.section_info_id},
            #{item.pp_v},
            #{item.tp_v},
            #{item.tn_v},
            #{item.longitude},
            #{item.latitude},
            #{item.chlorophyll},
            #{item.pubtime},
            #{item.water_l},
            #{item.valley},
            #{item.an_v},
            #{item.do_v},
            #{item.province},
            #{item.water_temp},
            #{item.conductivity},
            #{item.algal_density},
            #{item.ph_v},
            #{item.status}
            )
        </foreach>
    </insert>

    <!--  查询断面已存在数据  -->
    <select id="getExistDataList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gis_section_copy1
        WHERE
        province = #{param.province}
        AND staname IN
        <foreach collection="param.sourceSectionList" item="item" open="(" close=")" separator=",">
            #{item.staname}
        </foreach>
        AND pubtime IN
        <foreach collection="param.sourceSectionList" item="item" open="(" close=")" separator=",">
            #{item.pubtime}
        </foreach>
    </select>

</mapper>